body {
  background-color: rgba(0, 0, 0, 0.781);
}

.heading {
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  border-radius: 25px;
}

.scoreCounter {
  background-color: cornsilk;
  width: 10%;
  margin: auto;
  text-align: center;
}

.fieldContainer {
  width: 75em;
  margin: auto;
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Card {
  text-align: center;
  background-color: blanchedalmond;
  margin-top: 10px;
  flex: 0 0 31%;
  height: 20em;
  margin: 10px;
  user-select: none;
}

.Card:hover {
  background-color: rgb(255, 244, 227);
  transition-duration: 0.5s;
}